{% extends "layout.html" %}

{% block container %}
<h1>Calcular</h1>
<form action="/OperaBas" method="post">
    <label>N1:</label>
    <input type="number" name="n1"><br>
    <label>N2:</label>
    <input type="number" name="n2"><br>
    <input type="submit" value="Calcular" class="btn btn-primary" name="n1"><br>
    <div class="col-md-6 d-flex  justify-content-end">
        <label class="me-2">El resultado es:</label>
        <span class="fw-bold">{{ resul }}</span>
    </div>



</form>
{% endblock %}